<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron" style="padding:45px 0px 22px">
        <h4 class="text-center">TODO APP</h4>
        <span class="badge badge-warning">Created By : Aziz Bababei with Angular </span>
      </div>

      <div class="input-group">
        <input
          type="text"
          #todo
          class="form-control"
          placeholder="Enter todo"
          name="todo"
          [(ngModel)]="todoInput"
        />
        <div class="input-group-addon hover-cursor" (click)="addTodo()">
          <i class="fa fa-plus-circle fa-2x"></i>
        </div>
      </div>
      <main class="fancy">
        <div style="margin:5px 0px">
          <ul class="list-group ist-unstyled">
            <li class="list-group-item" *ngFor="let todo of todoArray">
              <label for="Cookies">
                <input id="Cookies" name="yaybox" type="checkbox" value="Cookies" />
              </label>

              {{ todo }}
              <span class="hover-cursor text-danger pull-right">
                <i class="fa fa-trash-o fa-lg" (click)="deleteItem(todo)"></i>
              </span>
            </li>
          </ul>
        </div>
      </main>
    </div>
  </div>
</div>
